* {
    font-family: 'Livvic', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}